
@tailwind base;
@tailwind components;
@tailwind utilities;

.board::-webkit-scrollbar {
  display: none;
}

::selection{
  
  @apply bg-primary text-accent
}
body{
  color: #9db4c027;
  @apply bg-secondary text-accent 
}
@layer base {
  :root {


    --radius: 0.5rem}}